<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" (click)="isCollapsed = false">{{ title }}</a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapseNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isCollapsed">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/" (click)="isCollapsed = false">Accueil</a>
        <a class="nav-link" routerLink="/pizzas" (click)="isCollapsed = false">Pizzas</a>
        <a class="nav-link" routerLink="/exercices" (click)="isCollapsed = false">Exercices</a>
        <a class="nav-link" routerLink="/observables" (click)="isCollapsed = false">Observables</a>
        <a class="nav-link" routerLink="/pizzas/nouvelle" (click)="isCollapsed = false">Nouvelle pizza</a>
        <a class="nav-link" routerLink="/login" (click)="isCollapsed = false">Connexion</a>

        <!-- <button (click)="authService.login('Fiorella')" *ngIf="!(authService.logged() | async)">
          Login
        </button> -->
        <div *ngIf="authService.logged() | async">
          {{ (authService.user | async)?.username }}
          <button (click)="authService.logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>
