<app-menu [title]="title"></app-menu>

<div class="container">
  <app-pizza [pizza]="selectedPizza" (canceled)="onCancel($event)"></app-pizza>

  <div class="pizzas row">
    <div *ngIf="loading" class="d-flex justify-content-center py-5">
      <div class="spinner-border"></div>
    </div>
    <ng-container *ngFor="let pizza of pizzas; index as i;">
      <div *ngIf="pizza.price > 0"
          (click)="onSelect(pizza)"
          class="col-sm-6 col-lg-3"
          [class.selected]="pizza === selectedPizza"
          [ngClass]="{ reine: pizza.name === 'Reine', titi: pizza.name === 'Cannibale' }"
      >
        <h2>{{ pizza.id }}: {{ pizza.name }} {{ i }}</h2>
        <img class="img-fluid w-100" [src]="pizza.image" [alt]="pizza.name">
      </div>
    </ng-container>
  </div>

  <h1>Exercices Composants</h1>
  <app-ingredient-list [ingredients]="ingredients" (selected)="addIngredientToSelectedPizza($event)"></app-ingredient-list>

  <app-counter [value]="5" (incremented)="incrementTotal($event)"></app-counter>
  <app-counter (incremented)="incrementTotal($event)"></app-counter>
  <app-counter [value]="15" (incremented)="incrementTotal($event)"></app-counter>
  <p>Le compteur en dessous est celui en two way, il est synchro sur le total, ce qui n'a pas vraiment d'intérêt</p>
  <app-counter [(value)]="total"></app-counter>
  <p>Le total des compteurs est: {{ total }}</p>

  <app-author [author]="user"></app-author>
  <!-- Je préfére mettre le select en dehors du composant
  pour pouvoir modifier directement la valeur passée en Input.
  En effet, modifier le Input directement pourrait entrainer
  une incohérence des données pour le parent. On pourra régler le soucis
  avec le Output. Pour la date, je peux aussi montrer le ngModelChange -->
  <select [ngModel]="user.birthday" (ngModelChange)="user.birthday = $event">
    <option *ngFor="let year of dates" [value]="year">{{ year }}</option>
  </select>

  <p>Le two way binding</p>
  <!-- [value]="title" (valueChange)="title = $event" -->
  <app-twoway [(value)]="title" [(array)]="numbers"></app-twoway>
</div>
