<h1>{{ title }}</h1>

<app-pizza [pizza]="selectedPizza"></app-pizza>

<ul class="pizzas">
  <ng-container *ngFor="let pizza of pizzas; index as i;">
    <li *ngIf="pizza.price > 0"
        (click)="onSelect(pizza)"
        [class.selected]="pizza === selectedPizza"
        [ngClass]="{ reine: pizza.name === 'Reine', titi: pizza.name === 'Cannibale' }"
    >
      {{ pizza.id }}: {{ pizza.name }} {{ i }}
    </li>
  </ng-container>
</ul>

<h1>Exercices Composants</h1>
<app-counter [value]="5"></app-counter>
<app-counter></app-counter>
<app-counter [value]="15"></app-counter>
