<app-pizza [pizza]="selectedPizza" (canceled)="onCancel($event)"></app-pizza>

<div class="pizzas row">
  <div *ngIf="loading" class="d-flex justify-content-center py-5">
    <div class="spinner-border"></div>
  </div>
  <ng-container *ngFor="let pizza of pizzas; index as i;">
    <div *ngIf="pizza.price > 0"
        (click)="onSelect(pizza)"
        class="col-sm-6 col-lg-3"
        [class.selected]="pizza === selectedPizza"
        [ngClass]="{ reine: pizza.name === 'Reine', titi: pizza.name === 'Cannibale' }"
    >
      <h2>{{ pizza.id }}: {{ pizza.name }} {{ i }}</h2>
      <img class="img-fluid w-100" [src]="pizza.image" [alt]="pizza.name">
      <button class="btn btn-danger" (click)="deletePizza(pizza, $event)">X</button>
    </div>
  </ng-container>
</div>

<div>
  <label>Nom: </label>
  <input type="text" #pizzaName>
  {{ pizzaName.value }} <!-- attention, le dom n'est pas mis à jour au changement d'une variable locale -->
  <button (click)="addPizza(pizzaName)" class="btn btn-primary"
    [disabled]="false && !pizzaName.value"
  >
    Ajouter
  </button>
</div>

<app-ingredient-list [ingredients]="ingredients" (selected)="addIngredientToSelectedPizza($event)"></app-ingredient-list>
